/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE        0
#define ARROW       1
#define FUNC        2

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix-transform = &default_transform;
    };

    keymap {
        compatible = "zmk,keymap";

        default_lefty {
            bindings = <
         &kp BACKSPACE    &kp EQUAL           &kp MINUS          &kp NUMBER_0   &kp NUMBER_9  &kp N8  &kp N7
         &kp BACKSLASH    &kp RIGHT_BRACE     &kp LEFT_BRACE     &kp P          &kp O         &kp I   &kp U
&kp F22  &kp ENTER        &kp TILDE           &kp DOUBLE_QUOTES  &kp COLON      &kp L         &kp K   &kp J
&kp F21  &kp RIGHT_SHIFT  &kp QUESTION        &kp GREATER_THAN   &kp LESS_THAN  &kp NUBS      &kp M   &kp N
&kp F20  &kp RCTRL        &kp K_CONTEXT_MENU  &kp RIGHT_ALT                     &kp SPACE             &mo 1
            >;
        };

        layer_1 {
            bindings = <
        &trans  &trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans          &trans          &trans
            >;
        };
    };
};
